

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <h1>Welcome to HomePage</h1>
        <h3>Welocme @TempData["Email"]</h3>
    </div>
</body>
</html>
